workflows/_AI-Powered Lead Research & Personalized Email Generation with Groq & Google Sheets.json
{
  "name": "*AI-Powered Lead Research & Personalized Email Generation with Groq & Google Sheets",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9f45046-3aac-41f1-939d-3269646e542f",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.Status }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "aef4dd12-816e-4017-a951-dc2c6a0b8a1e",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        880,
        480
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "query": "=={{ $json.authority }} AI strategy UK local government",
        "options": {}
      },
      "id": "3205240f-3653-4e0d-a638-2044a4a0a253",
      "name": "Search Internet1",
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "position": [
        2320,
        656
      ],
      "typeVersion": 1,
      "credentials": {
        "tavilyApi": {
          "id": "4FHr0JW4rsRBev7k",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "id": "3f1d292f-a909-4b22-bbbf-3843cdd0913a",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        1280,
        704
      ],
      "typeVersion": 1,
      "credentials": {
        "groqApi": {
          "id": "SUiDsgNcyFFKw5gz",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw",
          "mode": "list",
          "cachedResultName": "contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "authority": "={{ $json.authority }}",
            "Subject": "={{ $json.Subject }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "first_emailed ": "={{ $json['first_emailed '] }}",
            "date": "={{ $json.date }}",
            "Status": "Status"
          },
          "matchingColumns": [
            "Status"
          ],
          "schema": [
            {
              "id": "authority",
              "displayName": "authority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_emailed ",
              "displayName": "first_emailed ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes / Source",
              "displayName": "Notes / Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI / Tech Signal",
              "displayName": "AI / Tech Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Suggested Angle",
              "displayName": "Suggested Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "C&C Service Entry Point",
              "displayName": "C&C Service Entry Point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Source / Link",
              "displayName": "Source / Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "c075d4d7-ac55-4a4b-884e-67138d50a0c4",
      "name": "updateStatus",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1936,
        544
      ],
      "typeVersion": 4.6,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw",
          "mode": "list",
          "cachedResultName": "contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Researched",
            "name": "={{ $json.name }}",
            "authority": "={{ $json.authority }}",
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "Status"
          ],
          "schema": [
            {
              "id": "authority",
              "displayName": "authority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_emailed ",
              "displayName": "first_emailed ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes / Source",
              "displayName": "Notes / Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI / Tech Signal",
              "displayName": "AI / Tech Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Suggested Angle",
              "displayName": "Suggested Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "C&C Service Entry Point",
              "displayName": "C&C Service Entry Point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Source / Link",
              "displayName": "Source / Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a22f8ce1-bf68-408a-ba00-7f1ac83a7211",
      "name": "updateDescription",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1728,
        544
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw",
          "mode": "list",
          "cachedResultName": "contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "={{ $('updateDescription').item.json.Status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89dd2953-8fe2-4798-879f-d92d1eb77c4d",
      "name": "getTemplate",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1232,
        1120
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"emailSubject\":\"Subject email \",\n    \"emailBody\": \"body email lengkap\"\n}"
      },
      "id": "eb74fb86-f67d-474b-a021-1077e6f7fa99",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2736,
        1232
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw",
          "mode": "list",
          "cachedResultName": "contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "authority": "={{ $('getTemplate').item.json.authority }}",
            "name": "={{ $('getTemplate').item.json.name }}",
            "email": "={{ $('getTemplate').item.json.email }}",
            "Status": "Drafted"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "authority",
              "displayName": "authority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_emailed ",
              "displayName": "first_emailed ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Suggested Angle",
              "displayName": "Suggested Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "C&C Service Entry Point",
              "displayName": "C&C Service Entry Point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Source / Link",
              "displayName": "Source / Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Draft_Intro_Email",
              "displayName": "Draft_Intro_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company_Reseach",
              "displayName": "Company_Reseach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2dde3089-fb2a-4c20-a19a-ee75f250aebd",
      "name": "draftEmail",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1872,
        1120
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b2e44f4b-50f3-4bb6-9d60-ac6787f8c1b0",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        432,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw",
          "mode": "list",
          "cachedResultName": "contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw/edit#gid=0"
        },
        "options": {}
      },
      "id": "65a91454-d953-4a14-b115-012cc5af41bb",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        656,
        480
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XPPro36TqUb2jvn0FtNb-otdvhSTzme6CqIHz9mOYN8",
          "mode": "list",
          "cachedResultName": "Educational Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XPPro36TqUb2jvn0FtNb-otdvhSTzme6CqIHz9mOYN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6RxkmYzSMGk56g24nUFLu2mQKlOoRo--K1P54jgAEw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.Status }}",
            "Borough / Authority": "={{ $('getTemplate').item.json.authority }}",
            "Name": "={{ $('updateDescription').item.json.name }}",
            "Email": "={{ $('updateDescription').item.json.email }}"
          },
          "matchingColumns": [
            "first_emailed "
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Borough / Authority",
              "displayName": "Borough / Authority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes / Source",
              "displayName": "Notes / Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI / Tech Signal",
              "displayName": "AI / Tech Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Suggested Angle",
              "displayName": "Suggested Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "C&C Service Entry Point",
              "displayName": "C&C Service Entry Point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Source / Link",
              "displayName": "Source / Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9ee78456-5839-48b5-a89d-1bc1855e6607",
      "name": "inputLink",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2240,
        1120
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Array untuk menampung hasil yang akan dikirim ke node selanjutnya\nconst outputItems = [];\n\n// Loop melalui setiap item yang masuk dari node sebelumnya\nfor (const item of items) {\n  try {\n    // 1. Ambil nama perusahaan dari object JSON\n    // Pastikan key 'Perusahaan' ada di dalam data Anda\n    const namaPerusahaan = item.json.Perusahaan;\n\n    // 2. Lakukan replace spasi dengan '%20'\n    // Menggunakan encodeURIComponent() adalah cara yang paling tepat dan aman\n    // untuk mempersiapkan string sebagai bagian dari URL.\n    // Ini tidak hanya mengganti spasi, tapi juga karakter spesial lainnya.\n    const namaPerusahaanEncoded = encodeURIComponent(namaPerusahaan);\n\n    // Alternatif jika Anda HANYA ingin mengganti spasi:\n    // const namaPerusahaanEncoded = namaPerusahaan.replace(/ /g, '%20');\n\n    // 3. Buat object baru untuk output\n    // Anda bisa menyertakan data asli jika perlu dengan '...item.json'\n    const outputData = {\n      ...item.json, // Menyalin semua data asli\n      perusahaan_url_encoded: namaPerusahaanEncoded // Menambahkan field baru dengan hasil replace\n    };\n\n    // Tambahkan hasil ke dalam array output\n    outputItems.push({ json: outputData });\n\n  } catch (error) {\n    // Jika terjadi error (misalnya key 'Perusahaan' tidak ditemukan),\n    // teruskan item tersebut tanpa perubahan untuk menghindari workflow berhenti.\n    outputItems.push(item);\n  }\n}\n\n// Kembalikan semua item yang telah diproses untuk digunakan oleh node selanjutnya\nreturn outputItems;"
      },
      "id": "20ca4e42-14f9-4393-92d4-32c6da0ba6c9",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        2048,
        1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "query": "=AI adoption statistics UK public sector {{ $('getTemplate').item.json.authority }}",
        "options": {}
      },
      "id": "781e118b-7062-4f1c-aeb3-a025f9740844",
      "name": "Search Internet2",
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "position": [
        2592,
        1232
      ],
      "typeVersion": 1,
      "credentials": {
        "tavilyApi": {
          "id": "4FHr0JW4rsRBev7k",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dfab319e-a76d-4c72-a0e9-6d8120efc0f5",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1168,
        544
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": "meta-llama/llama-guard-4-12b",
        "options": {}
      },
      "id": "6db18626-365c-4071-a777-7e4c56455f74",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        2464,
        1296
      ],
      "typeVersion": 1,
      "credentials": {
        "groqApi": {
          "id": "SUiDsgNcyFFKw5gz",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XPPro36TqUb2jvn0FtNb-otdvhSTzme6CqIHz9mOYN8",
          "mode": "list",
          "cachedResultName": "Educational Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XPPro36TqUb2jvn0FtNb-otdvhSTzme6CqIHz9mOYN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XPPro36TqUb2jvn0FtNb-otdvhSTzme6CqIHz9mOYN8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $json.name }}"
            },
            {}
          ]
        },
        "options": {}
      },
      "id": "256aaaca-a8a1-4499-bdbc-650137550b8a",
      "name": "getService",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1392,
        1120
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Leads Data\n*   **Data Source:** The workflow starts by fetching lead data from a **Google Sheet**. This sheet is designed to act as a central hub, likely connected to a **Google Form** where new leads are automatically captured. This architecture is highly flexible; the Google Sheet can be easily replaced with other data sources like a **Supabase** database, **Airtable**, or even be pulled directly from your **CRM**.\n*   **Smart Filter:** Before being processed further, the workflow performs a crucial check using an `If` node. It verifies if the \"Research_Result\" column for a lead is empty. This is a key efficiency measure to ensure the workflow **only processes new leads** that haven't been previously analyzed, preventing duplicate work.",
        "height": 380,
        "width": 720,
        "color": 4
      },
      "id": "573beee9-2030-496f-bb63-0a3384d4d07a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Company Research\n*   **Individual Processing:** Each qualified lead is then processed individually using the `Loop Over Items` node, ensuring that every research task and the generated email is focused and specific to a single company at a time.\n*   **AI Business Analyst:** The core of this stage is an **AI Agent** (`Company Research1`) assigned the role of an expert business analyst. Its task goes beyond finding general information. Based on a specific *prompt*, the AI is assigned to:\n    *   Identify the target company's name and core business model.\n    *   Find the latest and most relevant information about the company.\n    *   **Analyze and identify opportunities** where your company's AI and automation services can improve efficiency and effectiveness.\n*   **Accurate & Current Data:** To avoid hallucinations and ensure relevance, the AI Agent is equipped with a **real-time internet search** tool (using `Tavily`). This allows it to access the latest news, reports, and articles about the target company.\n*   **Recording the Results:** The analytical description from the research is automatically inserted back into the Google Sheet under the `Research_Result` column for the corresponding lead. The lead's status is also updated to `Researched`, indicating that the research phase is complete and the lead is ready for email generation.\n",
        "height": 540,
        "width": 1380,
        "color": 3
      },
      "id": "20a1914f-6bf3-4093-9acb-98ae73cbb17a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate & Send Lead Email\n*   **Gathering Context:** A second **AI Sales Assistant** ,\" is activated. This agent gathers various pieces of information to craft the perfect email:\n    *   **Lead Data:** The contact's name, position, and company name.\n    *   **Research Results:** The in-depth analysis from the previous stage.\n    *   **Your Services:** A list of the products/services you offer, fetched from the \"List Product\" sheet.\n    *   **Template & Theme:** The appropriate email template from the \"Template\" sheet, based on the lead's status (e.g., an \"Introduction\" email).\n*   **Additional Research for a \"Hook\":** To make the email stand out, the AI performs a **second, more targeted internet search**. The goal is to find a recent statistic or fact (e.g., *\"ESG reporting challenges for Indonesian banks in 2025\"*) that is highly relevant to the recipient's position, which will be used as a powerful opening line (the hook).\n*   **Drafting the Email & CTA:** Using all this context, the AI drafts a complete email—including the *subject* and *body*—that is personalized, relevant, and leads to a clear *Call to Action* (CTA). The result is saved in a structured JSON format in the `Draft_Intro_Email` column.\n*   **The Send Trigger:** The workflow cleverly creates a **unique URL** in the `Send_Email_Link` column. This URL functions as a manual trigger. When you click this link in Google Sheets, it calls a webhook that can be configured to send the email. This provides a layer of *'human-in-the-loop'* control, allowing the sales team to review the draft before it's sent.",
        "height": 608,
        "width": 1720,
        "color": 5
      },
      "id": "3fe97a6c-794b-4912-8a2e-bee3c69fd8f5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Overall Description & Potential\n\n**<< What Does This Flow Do? >>**\n\nOverall, this workflow is an **intelligent sales outreach automation engine** that transforms raw leads from a form or a list into highly personalized, ready-to-send introductory email drafts. The process is: it starts by fetching data, enriches it with in-depth AI research to uncover \"pain points,\" and then uses those research findings to craft an email that is relevant to the solutions you offer.\n\nThis system solves a key problem in sales: the lack of time to conduct in-depth research on every single lead. By automating the research and drafting stages, the sales team can focus on higher-value activities, like engaging with \"warm\" prospects and handling negotiations. Using Google Sheets as the main dashboard allows the team to monitor the entire process—from lead entry, research status, and email drafts, all the way to the send link—all within a single, familiar interface.\n\n**<< Potential Future Enhancements >>**\n\nThis workflow has a very strong foundation and can be further developed into an even more sophisticated system:\n\n1.  **Full Automation (Zero-Touch):** Instead of generating a manual-click link, the output from the AI Agent can be directly piped into a **Gmail** or **Microsoft 365 Email** node to send emails automatically. A `Wait` node could be added to create a delay of a few minutes or hours after the draft is created, preventing instant sending.\n\n2.  **Automated Follow-up Sequences:** The workflow can be extended to manage follow-up emails. By using a webhook to track email opens or replies, you could build logic like: *\"If the intro email is not replied to within 3 days, trigger the AI Agent again to generate follow-up email #1 based on a different template, and then send it.\"*\n\n3.  **AI-Powered Lead Scoring:** After the research stage, the AI could be given the additional task of **scoring leads** (e.g., 1-10 or High/Medium/Low Priority) based on how well the target company's profile matches your ideal customer profile (ICP). This helps the sales team prioritize the most promising leads.\n\n4.  **Full CRM Integration:** Instead of Google Sheets, the workflow could connect directly to **HubSpot, Salesforce, or Pipedrive**. It would pull new leads from the CRM, perform the research, draft the email, and log all activities (research results, sent emails) back to the contact's timeline in the CRM automatically.\n\n5.  **Multi-Channel Outreach:** Beyond email, the AI could be instructed to draft personalized **LinkedIn Connection Request** messages or **WhatsApp** messages. The workflow could then use the appropriate APIs to send these messages, expanding your outreach beyond just email.",
        "height": 940,
        "width": 720,
        "color": 7
      },
      "id": "74633aa8-d54a-4003-a06c-bd7f697b3950",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert AI Sales Assistant, tasked with drafting a personalized and relevant email based on the provided data and additional research.\n\n1. PRIMARY CONTEXT:\nSender's Company: Carbon and Code (Digital consulting firm specializing in AI & Automation)\nSender's Name: Craig Spence (Director)\nTarget Company: {{ $('getTemplate').item.json.authority }}\nTarget Recipient: {{ $('getTemplate').item.json.name }}\nRecipient's Position: {{ $('Get row(s) in sheet').item.json.Role }}\nSales Stage: {{ $('getTemplate').item.json.Status }}\nMain Email Theme: Introduction to AI readiness assessment\nKey Information: {{ $('Company Research').item.json.output }}\nToday's Date: {{ $now }}\n\n2. ADDITIONAL RESEARCH TASK:\nUse Search Internet2 to find recent facts/statistics (2024-2025) relevant to AI adoption in UK public sector or local government.\nSearch query: \"AI readiness challenges UK local authorities 2024\"\n\n3. FINAL TASK: DRAFT THE EMAIL\n- Personalization: Mention recipient's authority and role\n- Relevance: Connect public sector AI challenges with Carbon and Code's solutions\n- Value Proposition: Position AI readiness assessment as entry point\n- Call to Action: Propose brief discussion to explore possibilities\n\n4. OUTPUT FORMAT (MANDATORY):\n{\n  \"emailSubject\": \"Compelling subject line\",\n  \"emailBody\": \"Complete personalized email body\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "0d809625-af14-4e3f-9a43-dcebb36d3100",
      "name": "AI Sales Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1568,
        1120
      ],
      "executeOnce": true,
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert business analyst. Your task is to research the company: ={{ $json.name }}.\n\nYour output must be a comprehensive description that identifies the company's name, its core business, and potential opportunities for improving efficiency and effectiveness by implementing AI solutions.\n\nUse the 'Search Internet' tool to gather the latest information.\n\nStrictly base your analysis on the data found through the internet search. Do not hallucinate or invent information.\n\nYour final output must be only the text description. Do not include any introductory sentences or greetings.",
        "options": {}
      },
      "id": "6e9e4bcc-a713-421c-bac6-2901ca810723",
      "name": "Company Research",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1392,
        544
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "inputLink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inputLink": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "draftEmail": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getService": {
      "main": [
        [
          {
            "node": "AI Sales Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getTemplate": {
      "main": [
        [
          {
            "node": "getService",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateStatus": {
      "main": [
        [
          {
            "node": "getTemplate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sales Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Company Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Company Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Internet1": {
      "ai_tool": [
        [
          {
            "node": "Company Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Internet2": {
      "ai_tool": [
        [
          {
            "node": "AI Sales Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "updateDescription": {
      "main": [
        [
          {
            "node": "updateStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Sales Assistant": {
      "main": [
        [
          {
            "node": "draftEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Sales Assistant",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Research": {
      "main": [
        [
          {
            "node": "updateDescription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "d0f7fd81-dd48-4892-916d-3518f56bd843",
  "meta": {
    "templateId": "5938",
    "templateCredsSetupCompleted": true,
    "instanceId": "573596b0d841eea28abd55273482a04618db2cede52284071b1cccb7e54d0cd7"
  },
  "id": "cS5li1vUxhRCD9aj",
  "tags": []
}