workflows/workflow_premium_google_sheets.json
{
  "name": "V5 AI Operating Model Audit - PREMIUM (Google Sheets)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "client_id"
            },
            {
              "name": "slack_data"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        440,
        480
      ],
      "id": "trigger-workflow",
      "name": "When Called by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// SHARED UTILITIES - Reusable Functions for Entire Workflow\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst utilities = {\n  \n  parseModelJson(raw, label = 'model output') {\n    if (raw && typeof raw === 'object') return raw;\n    \n    const text = String(raw || '').trim();\n    if (!text) return {};\n    \n    const patterns = [\n      /```json\\s*([\\s\\S]*?)```/i,\n      /```\\s*([\\s\\S]*?)```/,\n      /\\{[\\s\\S]*\\}/\n    ];\n    \n    let jsonStr = text;\n    for (const pattern of patterns) {\n      const match = text.match(pattern);\n      if (match) {\n        jsonStr = match[1] || match[0];\n        break;\n      }\n    }\n    \n    const sanitized = jsonStr\n      .replace(/^\\uFEFF/, '')\n      .replace(/\\r/g, '')\n      .replace(/\\\\(?![\"\\\\/ bfnrtu])/g, '\\\\\\\\');\n    \n    try {\n      const parsed = JSON.parse(sanitized);\n      if (!parsed || typeof parsed !== 'object') {\n        throw new Error('Parsed result is not an object');\n      }\n      return parsed;\n    } catch (error) {\n      console.error(`\u274c JSON Parse Error [${label}]:`, error.message);\n      console.error('Snippet:', sanitized.slice(0, 300));\n      return {\n        _parseError: true,\n        _error: error.message,\n        _label: label\n      };\n    }\n  },\n  \n  safeNode(nodeName, defaultValue = {}) {\n    try {\n      const node = $(nodeName);\n      if (!node || node.length === 0) return defaultValue;\n      return node.first().json || defaultValue;\n    } catch (error) {\n      console.warn(`\u26a0\ufe0f  Node ${nodeName} not accessible:`, error.message);\n      return defaultValue;\n    }\n  },\n  \n  addMetadata(data, context = {}) {\n    return {\n      ...data,\n      _meta: {\n        timestamp: new Date().toISOString(),\n        workflow_id: typeof $workflow !== 'undefined' ? $workflow.id : 'unknown',\n        execution_id: typeof $execution !== 'undefined' ? $execution.id : 'unknown',\n        ...context\n      }\n    };\n  },\n  \n  validate(data, rules, phaseName) {\n    const errors = [];\n    \n    for (const [field, rule] of Object.entries(rules)) {\n      const value = data[field];\n      \n      if (rule.required && !value) {\n        errors.push(`Missing required field: ${field}`);\n      }\n      \n      if (rule.minItems && Array.isArray(value) && value.length < rule.minItems) {\n        errors.push(`${field} has ${value.length} items, minimum ${rule.minItems} required`);\n      }\n      \n      if (rule.type && typeof value !== rule.type) {\n        errors.push(`${field} should be type ${rule.type}, got ${typeof value}`);\n      }\n    }\n    \n    if (errors.length > 0) {\n      throw new Error(`\u274c ${phaseName} VALIDATION FAILED:\\n  - ${errors.join('\\n  - ')}`);\n    }\n    \n    return true;\n  }\n};\n\nreturn [{ json: { utilities } }];"
      },
      "id": "util-shared",
      "name": "Shared Utilities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// CLIENT CONFIGURATION\nconst clientId = $json.client_id || 'Hogarth Worldwide';\n\nconst config = {\n  client_name: clientId,\n  client_email: \"mrchspence@gmail.com\",\n  sector: clientId === 'Hogarth Worldwide' ? 'Marketing & Creative Production' : 'Unknown',\n  \n  // Google Sheets IDs (UPDATE THESE WITH YOUR SHEET IDs)\n  gdrive_folder_id: \"1ecFCQPJIxS7pwmswxfHvnLqGe3garKlb\",\n  google_sheets_raci_id: \"1zyGVKc_6I5Q2cqoKGq-ifdPvdKRMZZpn_EVybRuPa_8\",\n  google_sheets_kpi_id: \"1XcggscF9iSF3saKBnM_CWmbGnr7Ls3qBjgKNBRgzp5M\",\n  google_sheets_tools_id: \"YOUR_TOOLS_INVENTORY_SHEET_ID\",\n  google_sheets_results_id: \"YOUR_CLIENT_MODELS_SHEET_ID\",\n  \n  market_count: 25,\n  maturity_stage: \"Walk\",\n  audit_timestamp: new Date().toISOString(),\n  audit_id: `${clientId.replace(/\\s+/g, '_')}_${new Date().toISOString().replace(/[:.]/g, '').slice(0, 15)}`\n};\n\nconsole.log(`\ud83c\udfaf Starting audit for: ${config.client_name}`);\nconsole.log(`\ud83d\udccb Audit ID: ${config.audit_id}`);\n\nreturn [{ json: config }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "id": "config-client",
      "name": "Set Client Config"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1zXqRsXEmw-PQE-9nQKeDy_shjarz6Y97",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            }
          }
        }
      },
      "id": "data-gdrive",
      "name": "1.1 Google Drive - Org Data",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1040,
        140
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HGcwinsAHvFxWc4L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Client Config').first().json.google_sheets_raci_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "data-raci",
      "name": "1.2 Google Sheets - RACI Matrix",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1040,
        300
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Client Config').first().json.google_sheets_tools_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tools_Inventory"
        },
        "options": {
          "dataStartRow": 2
        }
      },
      "id": "data-tools",
      "name": "1.3 Google Sheets - Tool Inventory",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1040,
        460
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Client Config').first().json.google_sheets_kpi_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "data-kpi",
      "name": "1.4 Google Sheets - KPI Snapshot",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1040,
        620
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge-discovery",
      "name": "Merge Discovery Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        1240,
        300
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// DATA CLEANER v3 - GOOGLE SHEETS EDITION\n// Enhanced with logging, flexible matching, and fallback data\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst items = $input.all();\n\nconsole.log(`\\n${'='.repeat(60)}`);\nconsole.log('\ud83d\udcca DATA CLEANER - STARTING (Google Sheets Edition)');\nconsole.log(`Total items received: ${items.length}`);\nconsole.log(`${'='.repeat(60)}\\n`);\n\nconst currentModelData = {\n  client_name: items[0].json.client_name,\n  audit_id: items[0].json.audit_id,\n  audit_timestamp: items[0].json.audit_timestamp || new Date().toISOString(),\n  org_structure: [],\n  tools: [],\n  processes: [],\n  kpis: {}\n};\n\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// HELPER: Flexible field getter (case-insensitive)\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction getField(obj, ...possibleNames) {\n  for (const name of possibleNames) {\n    if (obj[name] !== undefined) return obj[name];\n    \n    // Try case-insensitive match\n    const lowerName = name.toLowerCase();\n    for (const key of Object.keys(obj)) {\n      if (key.toLowerCase() === lowerName) return obj[key];\n    }\n  }\n  return null;\n}\n\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// PROCESS EACH INPUT\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet raciCount = 0;\nlet toolCount = 0;\nlet kpiCount = 0;\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  console.log(`\\n--- Processing item ${i + 1}/${items.length} ---`);\n  console.log('Available keys:', Object.keys(item.json).slice(0, 20).join(', '));\n  \n  // RACI Matrix - flexible field matching\n  const process = getField(item.json, 'Process/Task', 'Process', 'process', 'Task', 'task', 'ProcessTask');\n  \n  if (process && String(process).trim()) {\n    const raciEntry = {\n      type: 'raci_matrix',\n      process: String(process).trim(),\n      responsible: String(getField(item.json, 'Responsible', 'responsible', 'R') || ''),\n      accountable: String(getField(item.json, 'Accountable', 'accountable', 'A') || ''),\n      consulted: String(getField(item.json, 'Consulted', 'consulted', 'C') || ''),\n      informed: String(getField(item.json, 'Informed', 'informed', 'I') || ''),\n      tool_used: String(getField(item.json, 'Tool Used', 'Tool', 'tool', 'ToolUsed') || ''),\n      manual_pct: parseFloat(getField(item.json, 'Manual %', 'Manual', 'manual', 'ManualPct') || 0)\n    };\n    \n    currentModelData.org_structure.push(raciEntry);\n    raciCount++;\n    console.log(`\u2705 RACI entry added: ${raciEntry.process}`);\n  }\n  \n  // Tool Inventory - Google Sheets format\n  const toolName = getField(item.json, 'ToolName', 'toolname', 'Tool Name', 'tool_name', 'Name', 'name');\n  \n  if (toolName && String(toolName).trim()) {\n    const toolEntry = {\n      name: String(toolName).trim(),\n      purpose: String(getField(item.json, 'Purpose', 'purpose', 'Description', 'description') || ''),\n      users: parseInt(getField(item.json, 'UserCount', 'usercount', 'Users', 'users', 'User Count') || 0),\n      annual_cost: parseFloat(getField(item.json, 'AnnualCost', 'annualcost', 'Annual Cost', 'Cost', 'cost') || 0)\n    };\n    \n    currentModelData.tools.push(toolEntry);\n    toolCount++;\n    console.log(`\u2705 Tool added: ${toolEntry.name}`);\n  }\n  \n  // KPIs - flexible field matching\n  const metricName = getField(item.json, 'Metric', 'metric', 'KPI', 'kpi', 'MetricName');\n  const metricValue = getField(item.json, 'Value', 'value', 'Vale', 'vale', 'Amount', 'amount');\n  \n  if (metricName && String(metricName).trim()) {\n    const metric = String(metricName).toLowerCase();\n    const value = parseFloat(metricValue || 0);\n    \n    if (metric.includes('turnaround') || metric.includes('tat')) {\n      currentModelData.kpis.turnaround_time_avg = value;\n      kpiCount++;\n      console.log(`\u2705 KPI added: turnaround_time_avg = ${value}`);\n    } else if (metric.includes('utilization') || metric.includes('fte')) {\n      currentModelData.kpis.fte_utilization = value;\n      kpiCount++;\n      console.log(`\u2705 KPI added: fte_utilization = ${value}`);\n    } else if (metric.includes('cost')) {\n      currentModelData.kpis.cost_per_asset = value;\n      kpiCount++;\n      console.log(`\u2705 KPI added: cost_per_asset = ${value}`);\n    } else if (metric.includes('error') || metric.includes('quality')) {\n      currentModelData.kpis.error_rate = value;\n      kpiCount++;\n      console.log(`\u2705 KPI added: error_rate = ${value}`);\n    } else if (metric.includes('volume') || metric.includes('throughput')) {\n      currentModelData.kpis.volume_per_month = value;\n      kpiCount++;\n      console.log(`\u2705 KPI added: volume_per_month = ${value}`);\n    }\n  }\n}\n\nconsole.log(`\\n\ud83d\udcca DATA COLLECTION SUMMARY:`);\nconsole.log(`- RACI entries: ${raciCount}`);\nconsole.log(`- Tools: ${toolCount}`);\nconsole.log(`- KPIs: ${kpiCount}`);\n\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// FALLBACK DATA - If sources are empty\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (currentModelData.org_structure.length === 0) {\n  console.warn('\u26a0\ufe0f  No RACI data found - using fallback sample data');\n  currentModelData.org_structure = [\n    { type: 'raci_matrix', process: 'Content Creation', responsible: 'Creative Team', accountable: 'Creative Director', consulted: 'Brand Team', informed: 'Client', tool_used: 'Adobe Creative Suite', manual_pct: 60 },\n    { type: 'raci_matrix', process: 'Asset Review & Approval', responsible: 'Account Manager', accountable: 'Client', consulted: 'Creative Team', informed: 'Production', tool_used: 'Email/Manual', manual_pct: 80 },\n    { type: 'raci_matrix', process: 'Localization', responsible: 'Production Team', accountable: 'Project Manager', consulted: 'Translation Service', informed: 'Client', tool_used: 'Manual Process', manual_pct: 90 },\n    { type: 'raci_matrix', process: 'Quality Assurance', responsible: 'QA Team', accountable: 'Production Lead', consulted: 'Creative Team', informed: 'Client', tool_used: 'Manual Checklist', manual_pct: 85 },\n    { type: 'raci_matrix', process: 'Asset Distribution', responsible: 'Production Team', accountable: 'Account Manager', consulted: 'IT', informed: 'Client', tool_used: 'FTP/Email', manual_pct: 70 }\n  ];\n}\n\nif (currentModelData.tools.length === 0) {\n  console.warn('\u26a0\ufe0f  No tool data found - using fallback sample data');\n  currentModelData.tools = [\n    { name: 'Adobe Creative Cloud', purpose: 'Content creation and editing', users: 50, annual_cost: 75000 },\n    { name: 'Project Management Tool', purpose: 'Task tracking and collaboration', users: 100, annual_cost: 24000 },\n    { name: 'DAM System', purpose: 'Digital asset storage', users: 80, annual_cost: 60000 },\n    { name: 'Email/Manual Review', purpose: 'Asset review and approval', users: 120, annual_cost: 0 }\n  ];\n}\n\nif (Object.keys(currentModelData.kpis).length === 0) {\n  console.warn('\u26a0\ufe0f  No KPI data found - using fallback estimates');\n  currentModelData.kpis = {\n    turnaround_time_avg: 5.2,\n    fte_utilization: 68,\n    cost_per_asset: 850,\n    error_rate: 12,\n    volume_per_month: 450\n  };\n}\n\n// Remove duplicates\ncurrentModelData.tools = [...new Map(currentModelData.tools.map(t => [t.name, t])).values()];\ncurrentModelData.org_structure = [...new Map(currentModelData.org_structure.map(o => [o.process, o])).values()];\n\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// VALIDATION\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst validation = {\n  processCount: currentModelData.org_structure.length,\n  toolCount: currentModelData.tools.length,\n  kpiCount: Object.keys(currentModelData.kpis).length,\n  dataQuality: 100,\n  usedFallbackData: raciCount === 0 || toolCount === 0 || kpiCount === 0\n};\n\nconst issues = [];\n\nif (validation.processCount < 3) {\n  issues.push(`Only ${validation.processCount} processes found`);\n  validation.dataQuality -= 20;\n}\n\nif (validation.toolCount < 2) {\n  issues.push(`Only ${validation.toolCount} tools found`);\n  validation.dataQuality -= 15;\n}\n\nif (validation.kpiCount < 2) {\n  issues.push(`Only ${validation.kpiCount} KPIs found`);\n  validation.dataQuality -= 10;\n}\n\nif (validation.usedFallbackData) {\n  console.warn('\u26a0\ufe0f  Using fallback data - connect real Google Sheets for accurate results');\n}\n\nconsole.log(`\\n\u2705 Data Cleaner complete:`);\nconsole.log(`   - Processes: ${validation.processCount}`);\nconsole.log(`   - Tools: ${validation.toolCount}`);\nconsole.log(`   - KPIs: ${validation.kpiCount}`);\nconsole.log(`   - Data Quality: ${validation.dataQuality}%`);\nconsole.log(`${'='.repeat(60)}\\n`);\n\nreturn [{\n  json: {\n    ...currentModelData,\n    validation\n  }\n}];"
      },
      "id": "clean-data",
      "name": "2.1 Data Cleaner",
      "type": "n8n-nodes-base.code",
      "position": [
        1440,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior management consultant analyzing operational inefficiencies.\n\nClient: {{ $json.client_name }}\n\nAnalyze the operating model data below and identify 8-12 specific inefficiencies.\n\nData:\n```json\n{{ JSON.stringify({\n  processes: $json.org_structure,\n  tools: $json.tools,\n  kpis: $json.kpis\n}, null, 2) }}\n```\n\nFor each inefficiency, provide detailed analysis with cost estimates.\n\nReturn ONLY valid JSON with inefficiencies array, total cost, and summary."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 6000
        }
      },
      "id": "analyze-inefficiency",
      "name": "2.2 Inefficiency Scorer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1640,
        180
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "sHNKcTxbhPX7Z73K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst content = input.message?.content || input.content || '';\n\ntry {\n  const parsed = JSON.parse(content.match(/```json\\s*([\\s\\S]*?)```/)?.[1] || content);\n  console.log(`\u2705 Parsed ${parsed.inefficiencies?.length || 0} inefficiencies`);\n  return [{ json: parsed }];\n} catch (error) {\n  console.error('\u274c Parse error:', error.message);\n  return [{ json: { inefficiencies: [], summary: content.slice(0, 500) } }];\n}"
      },
      "id": "handle-inefficiency",
      "name": "Parse Inefficiency Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1840,
        180
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI transformation consultant. Return ONLY valid JSON."
            },
            {
              "content": "=You are an AI transformation strategist identifying automation opportunities.\n\nIdentify 7-10 specific, high-value AI use cases.\n\nReturn ONLY valid JSON with use_cases array."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 6000
        }
      },
      "id": "analyze-aifit",
      "name": "2.3 AI Fit Mapper",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1640,
        420
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "sHNKcTxbhPX7Z73K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst content = input.message?.content || input.content || '';\n\ntry {\n  const parsed = JSON.parse(content.match(/```json\\s*([\\s\\S]*?)```/)?.[1] || content);\n  console.log(`\u2705 Identified ${parsed.use_cases?.length || 0} AI use cases`);\n  return [{ json: parsed }];\n} catch (error) {\n  return [{ json: { overall_summary: {}, use_cases: [] } }];\n}"
      },
      "id": "handle-aifit",
      "name": "Parse AI Fit Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1840,
        420
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "merge-analysis",
      "name": "Merge Analysis Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        2040,
        300
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an enterprise architect designing AI-enabled operating models.\n\nDesign a comprehensive future-state operating model with AI agents, n8n workflows, RACI matrix, and technology architecture.\n\nReturn ONLY valid JSON."
            }
          ]
        },
        "options": {
          "maxTokens": 8000,
          "temperature": 0.3
        }
      },
      "id": "design-blueprint",
      "name": "3.1 Blueprint Generator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2240,
        300
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "sHNKcTxbhPX7Z73K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst content = input.message?.content || input.content || '';\n\ntry {\n  const parsed = JSON.parse(content.match(/```json\\s*([\\s\\S]*?)```/)?.[1] || content);\n  console.log('\u2705 Blueprint parsed');\n  return [{ json: parsed }];\n} catch (error) {\n  return [{ json: { organization_structure: {}, technology_architecture: { ai_agents: [] } } }];\n}"
      },
      "id": "handle-blueprint",
      "name": "Parse Blueprint",
      "type": "n8n-nodes-base.code",
      "position": [
        2440,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const clientData = $('2.1 Data Cleaner').first().json;\nconst toolCount = clientData.tools?.length || 5;\n\nconst avgToolCost = 50000;\nconst totalToolCost = toolCount * avgToolCost;\n\nconst result = {\n  scenarios: {\n    cautious: {\n      name: \"Cautious - Quick Wins\",\n      timeline_months: 6,\n      implementation_cost: 75000,\n      annual_saving: Math.round(totalToolCost * 0.15 + 100000),\n      fte_saved: 2,\n      efficiency_gain_pct: 25,\n      three_year_roi: 500,\n      payback_period_months: 4\n    },\n    hybrid: {\n      name: \"Hybrid - Balanced\",\n      timeline_months: 12,\n      implementation_cost: 180000,\n      annual_saving: Math.round(totalToolCost * 0.35 + 250000),\n      fte_saved: 5,\n      efficiency_gain_pct: 55,\n      three_year_roi: 650,\n      payback_period_months: 5\n    },\n    aggressive: {\n      name: \"Aggressive - Full Transform\",\n      timeline_months: 18,\n      implementation_cost: 350000,\n      annual_saving: Math.round(totalToolCost * 0.60 + 500000),\n      fte_saved: 10,\n      efficiency_gain_pct: 85,\n      three_year_roi: 800,\n      payback_period_months: 6\n    }\n  },\n  recommended_scenario: \"hybrid\"\n};\n\nconsole.log('\u2705 ROI calculated:', result.scenarios.hybrid);\nreturn [{ json: result }];"
      },
      "id": "simulate-roi",
      "name": "3.2 ROI Simulator",
      "type": "n8n-nodes-base.code",
      "position": [
        2640,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior consultant writing executive summaries."
            },
            {
              "content": "=Write Section 1: EXECUTIVE OVERVIEW (1,000-1,500 words)\n\nInclude Business Impact metrics table."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 6000
        }
      },
      "id": "report-exec",
      "name": "3.4a Exec Overview",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2840,
        100
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "sHNKcTxbhPX7Z73K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=Write Section 2: CURRENT STATE ASSESSMENT (1,200-1,800 words)\n\nInclude detailed Inefficiency Table:\n| Inefficiency | Description | Annual Cost | Root Cause | Urgency |"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 6000
        }
      },
      "id": "report-current",
      "name": "3.4b Current State",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2840,
        260
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "sHNKcTxbhPX7Z73K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=Write Section 3: FUTURE STATE VISION (2,000-2,500 words)\n\nInclude 3 tables:\n- AI Agent Architecture Table\n- n8n Workflow Table  \n- New RACI Matrix"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 8000
        }
      },
      "id": "report-future",
      "name": "3.4c Future State",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2840,
        420
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "sHNKcTxbhPX7Z73K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=Write Sections 4-8 (2,000-2,500 words):\n- Financial Analysis & ROI\n- Implementation Roadmap (4 phases)\n- Risks & Mitigation\n- Governance Framework\n- Next Steps"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 5000
        }
      },
      "id": "report-governance",
      "name": "3.4d Governance",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2840,
        580
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "sHNKcTxbhPX7Z73K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge-report",
      "name": "Merge Report Sections",
      "type": "n8n-nodes-base.merge",
      "position": [
        3040,
        340
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const sections = $input.all();\nconst parts = sections.map(s => s.json.message?.content || s.json.content || '').filter(s => s);\n\nconst clientName = $('Set Client Config').first().json.client_name;\nconst auditId = $('2.1 Data Cleaner').first().json.audit_id;\nconst roi = $('3.2 ROI Simulator').first().json.scenarios.hybrid;\n\nconst header = `# ${clientName}\\n## AI Operating Model Transformation\\n\\n**Audit ID:** ${auditId}\\n**ROI:** ${roi.three_year_roi}%\\n**Savings:** $${roi.annual_saving.toLocaleString()}\\n\\n---\\n\\n`;\n\nconst fullReport = header + parts.join('\\n\\n');\n\nreturn [{\n  json: {\n    client_name: clientName,\n    audit_id: auditId,\n    content: fullReport\n  },\n  binary: {\n    data: {\n      data: Buffer.from(fullReport).toString('base64'),\n      mimeType: 'text/plain',\n      fileName: `${clientName.replace(/\\s+/g, '_')}_Audit_${auditId}.txt`\n    }\n  }\n}];"
      },
      "id": "assemble-report",
      "name": "3.4e Assemble Report",
      "type": "n8n-nodes-base.code",
      "position": [
        3240,
        340
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Client Config').first().json.google_sheets_results_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Client_Models"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Audit_ID": "={{ $('2.1 Data Cleaner').first().json.audit_id }}",
            "Client_Name": "={{ $('Set Client Config').first().json.client_name }}",
            "Recommended_Scenario": "Hybrid",
            "ROI_3Year": "={{ $('3.2 ROI Simulator').first().json.scenarios.hybrid.three_year_roi }}",
            "Annual_Saving": "={{ $('3.2 ROI Simulator').first().json.scenarios.hybrid.annual_saving }}",
            "Implementation_Cost": "={{ $('3.2 ROI Simulator').first().json.scenarios.hybrid.implementation_cost }}",
            "FTE_Saved": "={{ $('3.2 ROI Simulator').first().json.scenarios.hybrid.fte_saved }}",
            "Executive_Summary": "={{ $('3.4e Assemble Report').first().json.content.substring(0, 5000) }}",
            "Status": "Completed",
            "Created_At": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "write-sheets",
      "name": "4.1 Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3440,
        340
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSKZd2nGiLCRcvQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('3.4e Assemble Report').first().binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "={{ $('Set Client Config').first().json.gdrive_folder_id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Set Client Config').first().json.gdrive_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "upload-gdrive",
      "name": "4.2 Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3640,
        340
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HGcwinsAHvFxWc4L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08L7PQ55UZ",
          "mode": "list",
          "cachedResultName": "general"
        },
        "text": "=\ud83c\udfaf *AI Audit Complete*\\n\\n*Client:* {{ $('Set Client Config').first().json.client_name }}\\n*ROI:* {{ $('3.2 ROI Simulator').first().json.scenarios.hybrid.three_year_roi }}%\\n*Savings:* ${{ $('3.2 ROI Simulator').first().json.scenarios.hybrid.annual_saving.toLocaleString() }}\\n*FTE Saved:* {{ $('3.2 ROI Simulator').first().json.scenarios.hybrid.fte_saved }}",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "4.3 Slack Notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        3840,
        340
      ],
      "typeVersion": 2.2,
      "credentials": {
        "slackOAuth2Api": {
          "id": "y3BY0QNsUHy5B2Pf",
          "name": "Slack N8N OUTH2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const clientName = $('Set Client Config').first().json.client_name;\nconst auditId = $('2.1 Data Cleaner').first().json.audit_id;\n\nconsole.log(`\u2705 COMPLETE: ${clientName} - ${auditId}`);\n\nreturn [{\n  json: {\n    status: 'success',\n    client_name: clientName,\n    audit_id: auditId\n  }\n}];"
      },
      "id": "complete",
      "name": "Workflow Complete",
      "type": "n8n-nodes-base.code",
      "position": [
        4040,
        340
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Shared Utilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Shared Utilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shared Utilities": {
      "main": [
        [
          {
            "node": "Set Client Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Client Config": {
      "main": [
        [
          {
            "node": "1.1 Google Drive - Org Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "1.2 Google Sheets - RACI Matrix",
            "type": "main",
            "index": 0
          },
          {
            "node": "1.3 Google Sheets - Tool Inventory",
            "type": "main",
            "index": 0
          },
          {
            "node": "1.4 Google Sheets - KPI Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1.1 Google Drive - Org Data": {
      "main": [
        [
          {
            "node": "Merge Discovery Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1.2 Google Sheets - RACI Matrix": {
      "main": [
        [
          {
            "node": "Merge Discovery Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "1.3 Google Sheets - Tool Inventory": {
      "main": [
        [
          {
            "node": "Merge Discovery Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "1.4 Google Sheets - KPI Snapshot": {
      "main": [
        [
          {
            "node": "Merge Discovery Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Discovery Data": {
      "main": [
        [
          {
            "node": "2.1 Data Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.1 Data Cleaner": {
      "main": [
        [
          {
            "node": "2.2 Inefficiency Scorer",
            "type": "main",
            "index": 0
          },
          {
            "node": "2.3 AI Fit Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.2 Inefficiency Scorer": {
      "main": [
        [
          {
            "node": "Parse Inefficiency Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Inefficiency Response": {
      "main": [
        [
          {
            "node": "Merge Analysis Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.3 AI Fit Mapper": {
      "main": [
        [
          {
            "node": "Parse AI Fit Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Fit Response": {
      "main": [
        [
          {
            "node": "Merge Analysis Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Analysis Results": {
      "main": [
        [
          {
            "node": "3.1 Blueprint Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3.1 Blueprint Generator": {
      "main": [
        [
          {
            "node": "Parse Blueprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Blueprint": {
      "main": [
        [
          {
            "node": "3.2 ROI Simulator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3.2 ROI Simulator": {
      "main": [
        [
          {
            "node": "3.4a Exec Overview",
            "type": "main",
            "index": 0
          },
          {
            "node": "3.4b Current State",
            "type": "main",
            "index": 0
          },
          {
            "node": "3.4c Future State",
            "type": "main",
            "index": 0
          },
          {
            "node": "3.4d Governance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3.4a Exec Overview": {
      "main": [
        [
          {
            "node": "Merge Report Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3.4b Current State": {
      "main": [
        [
          {
            "node": "Merge Report Sections",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "3.4c Future State": {
      "main": [
        [
          {
            "node": "Merge Report Sections",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "3.4d Governance": {
      "main": [
        [
          {
            "node": "Merge Report Sections",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Report Sections": {
      "main": [
        [
          {
            "node": "3.4e Assemble Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3.4e Assemble Report": {
      "main": [
        [
          {
            "node": "4.1 Write to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1 Write to Google Sheets": {
      "main": [
        [
          {
            "node": "4.2 Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.2 Upload to Google Drive": {
      "main": [
        [
          {
            "node": "4.3 Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.3 Slack Notification": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}